.site-wrapper#contacts
  .site-wrapper-inner
    .cover-container
      %main.inner.cover{ role: 'main' }
        %h1.cover-heading Контакты
        %p.lead Главный слоган спортивной школы Ленинского района
      %footer.mastfoot
        .inner
          %p
            = link_to fa_icon('vk 4x'), 'https://vk.com/'
            = link_to fa_icon('twitter 4x'), 'https://twitter.com/'
