= render 'tramway/sport_school/web/welcome/shared/block', id: :directors_text do
  .row.justify-content-center
    .media
      = image_tag 'tramway/sport_school/director.jpg', class: 'align-self-center mr-3', style: 'height: 20vw'
      .media-body.text-left
        Доброго времени суток, меня зовут Егоров Рамиль Евгеньевич!
        %br
        Всю свою сознательную жизнь я посвятил спорту. 
        %br
        С большим трепетом я вспоминаю свои школьные годы и первые шаги на старте в будущее. В будущее, где я буду носить гордое звание - спортсмен! Конечно, здесь необходимо упомянуть человека, которые сопровождали меня в начале моего пути - это Заслуженный тренер России Курдюмов Анатолий Константинович и ЗТР Мерчин Владимир Александрович. Именно они помогли мне понять, что спорт - это гораздо больше, чем ежедневные тренировки и выработка определённых рефлексов. Спорт - это здоровье, сила воли, дисциплинированность, достоинство, умение самоанализа. Спорт - это образ жизни. Он объяснил мне, что для спортсмена победа важнее участия, но и не всякое поражение должно восприниматься как проигрыш. И за это я благодарен больше всего. Ведь буквально пару лет назад я и сам был в качестве тренера и пытался объяснить совсем юным мальчишкам, каким и я тогда был, что прежде чем заслужить свою первую победу придётся не раз прочувствовать поражение, но согласитесь, что оно того стоит! 
        %br
        Без преувеличения могу сказать, что эта школа одна из лучших в городе! Ежегодно сотни юных спортсменов ДЮСШ Ленинского района занимают призовые места на межрегиональных и международных соревнованиях доказывая всему миру, что в Ульяновске одно из лучших дополнительных образований в сфере спорта. Конечно, это было бы невозможно без тренеров, которые не жалея себя воспитывают в юных ребятах будущих именитых спортсменов. На сегодняшний день в школе работают 13 отделений по олимпийским и неолимпийским видам спорта, учатся более 1000 спортсменов, работают 30 тренеров-преподавателей и я уверен, что это не предел! 
        %br
        Если вы выберете нашу школу в качестве первой ступени в большой спорт – уверяю вас вы не пожалеете!
        %br
        %br
        %h4
          Директор ДЮСШ "Симбирск" Ленинского района города Ульяновска, Р.Е. Егоров 
